{% extends 'base.html.twig' %}

{% block body %}
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__wrapper">
                    <div class="categories__banner page__banner">
                        <img class="categories__banner--img page__banner--img"
                             src="{{ asset('img/categories-banner.jpg') }}"/>
                    </div>
                    <h3 class="categories__title section__title">Pizza's</h3>
                    <div class="categories__category">
                        {% for pizza in pizzas %}
                            <a class="category" href="/pizza/{{ pizza.id }}">
                                <img class="category__img" src="{{ asset('img/'~pizza.img~'') }}"
                                     alt="{{ pizza.img }}"/>
                                <div class="category__description">
                                    <div class="category__description--title">{{ pizza.name }} Pizza</div>
                                    <div class="category__description--price">€{{ pizza.price }},-</div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
