{% extends 'base.html.twig' %}

{% block body %}
    <section class="checkout">
        <div class="container">
            <div class="row">
                <div class="checkout__wrapper">
                    <div class="checkout checkout__half">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}

                    </div>
                    <div class="order checkout__half">
                        <ul class="order__list">
                            {% set totalPrice = 0 %}
                            {% for subarray in order[0] %}
                                <li class="order__list--item">
                                    <a href="/checkoutdelete/{{ loop.index0 }}" class="order__list--small"><i class="fas fa-trash"></i></a>
                                {% for pizza in subarray %}
                                    <p class="order__list--para">Naam:</p>
                                    {{ pizza.name }} Pizza
                                    <p class="order__list--para">Extra's:</p>
                                    {{ pizza.size }} - {{ pizza.topping }}
                                    <p class="order__list--para">Prijs:</p>
                                    €{{ pizza.price }},
                                    {% set totalPrice = totalPrice + pizza.price %}
                                {% endfor %}
                                </li>
                            {% endfor %}
                            <li class="order__list--item">
                                Totaal: €{{ totalPrice }},-
                            </li>
                                <button class="order__list--item order__last">{{ button_label|default('Bestellen') }}</button>
                                <br>
                                {{ form_end(form) }}
                        </ul>
                    </div>
                    <div class="checkout__banner">
                        <img class="checkout__banner--img" src="{{ asset('img/landing.jpg') }}" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        if("{{ email }}") {
            const checkoutEmail = document.querySelector('.checkout__email');

            checkoutEmail.value = "{{ email }}";
            checkoutEmail.textContent = "{{ email }}";

            console.log(checkoutEmail)
        }
    </script>
{% endblock %}
